{{- if .Params.author }}
<div class="authors">
{{- range $author_entry := .Params.author }}
{{- $author := index $.Site.Data.authors ( $author_entry | default "default") -}}
<div class="authorbox">
    {{- with $author.avatar }}
        <figure class="authorbox__avatar">
            <img alt="{{ $author.name }} avatar" src="{{ $author.avatar | relURL }}" class="avatar" height="90" width="90">
        </figure>
    {{- end }}
    {{- with $author.name }}
        <div class="authorbox__header">
            <span class="authorbox__name">{{ $author.name }}</span>
        </div>
    {{- end }}
    {{- with $author.bio }}
        <div class="authorbox__description">
            {{ $author.bio }}
        </div>
    {{- end }}
    {{- with $author.focus }}
        <div class="authorbox__description">
            {{ $author.focus }}
        </div>
    {{- end }}
    {{- with $author.social.linkedin }}
        <div class="authorbox__description">
            <i class="fa-solid fa-hand-back-point-right"></i>  <a href="{{ $author.social.linkedin }}">Contact me</a>
        </div>
    {{- end }}
</div>
{{- end }}
</div>
{{- end }}