<!-- Partial intended to be overwritten with tags loaded at the end of the page loading (usually for Javascript)
<script>
  console.log("running some javascript");
</script>
-->


<script>
  function onConsentChanged(categoryPreferences) {
      console.log("onConsentChanged", categoryPreferences);
      if (categoryPreferences.Analytics) {
        //gtag('consent', 'update', { 'analytics_storage': 'granted' });
      } 
      else {
        //gtag('consent', 'update', { 'analytics_storage': 'denied' });
      }         
  }

  window.WcpConsent && WcpConsent.init("en-US", "cookie-banner", function (err, _siteConsent) {
      if (!err) {
          siteConsent = _siteConsent;  //siteConsent is used to get the current consent          
      } else {
          console.log("Error initializing WcpConsent: "+ err);
      }
  }, onConsentChanged, WcpConsent.themes.light);
</script>

